:plain
	<!--[if gte IE 9]><style type="text/css"> .gradient {filter: none;}</style><![endif]-->

%section.hero
	.row
		.sixteen.columns
			.container
				.hero-wrapper
					%img{src: asset_path("logo.png")}
					%h1 Web Designer & Front-end Developer in Boston
					%h2 Specializing in 	responsive design
					.cta
						%a{"data-scroll" => "", href: "#contact"} Get In Touch

%section.content
	.row
		.sixteen.columns
			.container#what
				%h3 Andrew Farrar

				%p
					I'm a Boston-based web developer who's originally from Chattanooga, TN. I moved to the area in 2012 in search of new opportunities.

				%p
					My day job involves template-driven Responsive web design for small businessess. I'm looking to move into true front-end development. 
				%p
					Outside of my day job, I work with
					%a{href: "http://wellplayed.org", target: "_blank"} WellPlayed Productions
					to broadcast innvoative video game tournament ("esports") content.

	.row
		.sixteen.columns#mywork
			.container
				%h3 My Work
				
				.five.columns
					#modal1.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal1"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 Chez-Del
									%img{src: asset_path("chezdel.jpg")}
									%a{href: "http://chez-del.com", target: "_blank"}
										%p Chez-Del Home Furnishings & Interior Design
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal1", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal1", href: "#"}
						%img{src: asset_path("chezdel.jpg")}
						%a{href: "http://chez-del.com", target: "_blank"}
							%p Chez-Del Home Furnishings & Interior Design

				.five.columns
					#modal2.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal2"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 Lone Star Clash 3
									%img{src: asset_path("lonestarclash.jpg")}
									%a{href: "http://lonestarclash.com", target: "_blank"}
										%p Lone Star Clash
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal2", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal2", href: "#"}
						%img{src: asset_path("lonestarclash.jpg")}
						%a{href: "http://lonestarclash.com", target: "_blank"}
							%p Lone Star Clash
						

				.five.columns
					#modal3.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal3"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 test
									%img{src: asset_path("dancestudio.jpg")}
									%a{href: "http://www.dancestudioofbraintree.com/", target: "_blank"}
										%p Dance Studio of Braintree
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal3", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal3", href: "#"}
						%img{src: asset_path("dancestudio.jpg")}
						%a{href: "http://www.dancestudioofbraintree.com/", target: "_blank"}
							%p Dance Studio of Braintree

				.clearfix

			.container
				.five.columns
					#modal4.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal4"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 test
									%img{src: asset_path("elampi.jpg")}
									%a{href: "http://www.elampi.com/", target: "_blank"}
										%p Elam Private Detective
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal4", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal4", href: "#"}
						%img{src: asset_path("elampi.jpg")}
						%a{href: "http://www.elampi.com/", target: "_blank"}
							%p Elam Private Detective

				.five.columns
					#modal5.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal5"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 test
									%img{src: asset_path("bandala.jpg")}
									%a{href: "http://www.bandaladds.com/", target: "_blank"}
										%p Bandala DDS
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal5", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal5", href: "#"}
						%img{src: asset_path("bandala.jpg")}
						%a{href: "http://www.bandaladds.com/", target: "_blank"}
							%p Bandala DDS

				.five.columns
					#modal6.modal
						.modalcontent
							%a.close.switch{"gumby-trigger" => "#modal6"}
								%i.icon-cancel
							.row
								.ten.columns.centered.text-center
									%h2 test
									%img{src: asset_path("valpak.jpg")}
									%a{href: "http://www.valpakofboston.com/", target: "_blank"}
										%p Valpak of Boston
									%p.btn.primary.medium
										%a.switch{"gumby-trigger" => "|#modal6", href: "#"} Close
					%a.switch{"gumby-trigger" => "#modal6", href: "#"}
						%img{src: asset_path("valpak.jpg")}
						%a{href: "http://www.valpakofboston.com/", target: "_blank"}
							%p Valpak of Boston

				.clearfix
	.row
		.sixteen.columns
			.container
				#skills
					%p
						HTML5, HAML, CSS3, SASS, Ruby on Rails, Javascript
				#contact
					%img#headshot{src: asset_path("headshot.jpg")}
					%p Contact Andrew Farrar
					%a{href: "https://www.linkedin.com/in/andrewfarrar"}
						%img{src: asset_path("linkedin.png")}
					%a{href: "https://github.com/kegwen"}
						%img{src: asset_path("github.png")}
					%a{href: "mailto:contact@andrew-farrar.com"}
						%p contact@andrew-farrar.com

				.clearfix

%section.footer
	.row
		.centered.six.columns
			.container
				%p= "Copyright " + Time.now.strftime("%Y")

%section.modalsection
