:plain
	<!--[if gte IE 9]><style type="text/css"> .gradient {filter: none;}</style><![endif]-->

%section.nav
	.row
		.sixteen.columns
			.container
				.title
					A
					%span F
				%ul
					%li 
						%a{"data-scroll" => "", href: "#what"} What I Do
					%li 
						%a{"data-scroll" => "", href: "#mywork"} My Work
					%li 
						%a{"data-scroll" => "", href: "#contact"} Contact Me

%section.hero
	.row
		.sixteen.columns
			.container
				.hero-wrapper
					%h1 Web Designer & Front-end Developer in Boston
					.cta
						%a{"data-scroll" => "", href: "#contact"} Get In Touch

%section.content
	.row
		.sixteen.columns
			.container#what
				%h3 Catchy line
				%p
					Lorem ipsum dolor sit amet, eam feugiat deserunt accusata an. Eos dico patrioque in, eu lobortis principes per. Ea reque meliore est. Vix ad errem delenit, te commodo partiendo ius. Malis inani phaedrum ad ius, has ei veri quando legere. At eius tantas pri.
				%p
					Ei mazim graeco dissentiunt duo, fierent invenire ei nec. Ei duis magna meliore nam, pro in quot probo sanctus. Magna fugit definiebas ut qui, ne summo tempor nonumes qui. Te modus zril tantas pri. An bonorum delectus per, veritus copiosae no nec.

	.row
		.sixteen.columns#mywork
			.container
				%h3 My Work
				.five.columns
					%a{href: "http://www.chez-del.com/", target: "_blank"}
						%img{src: asset_path("chezdel.jpg")}
						%p Chez-Del Home Furnishings & Interior Design
				.five.columns
					%a{href: "http://www.lonestarclash.com/", target: "_blank"}
						%img{src: asset_path("lonestarclash.jpg")}
						%p Lone Star Clash
				.five.columns
					%a{href: "http://www.dancestudioofbraintree.com/", target: "_blank"}
						%img{src: asset_path("dancestudio.jpg")}
						%p Dance Studio of Braintree
				.clearfix
			.container
				.five.columns
					%a{href: "http://www.elampi.com/", target: "_blank"}
						%img{src: asset_path("elampi.jpg")}
						%p Elam Private Detective
				.five.columns
					%a{href: "http://www.bandaladds.com/", target: "_blank"}
						%img{src: asset_path("bandala.jpg")}
						%p Jose L. Bandala D.D.S.
				.five.columns
					%a{href: "http://www.valpakofboston.com/", target: "_blank"}
						%img{src: asset_path("valpak.jpg")}
						%p Valpak of Boston
				.clearfix
	.row
		.sixteen.columns
			.container#contact
				.twelve.columns
					%h3 Get in touch
					%p info here
				.four.columns.caption
					%img{src: asset_path("headshot.png")}
					%p Andrew Farrar<br />Web Designer
				.clearfix