:plain
	<!--[if gte IE 9]><style type="text/css"> .gradient {filter: none;}</style><![endif]-->

%section.hero
	.row
		.sixteen.columns
			.container
				.hero-wrapper
					%img{src: asset_path("logo.png")}
					%h1 Web Designer & Front-end Developer in Boston
					%h2 Specializing in responsive design
					.cta
						%a{"data-scroll" => "", href: "#contact"} Get In Touch

%section.content
	.row
		.sixteen.columns
			.container#what
				%h3 Andrew Farrar
				%p
					I'm a Lexington-based web developer that's originally from Chattanooga, TN. I moved to the Boston area in 2012 in search of new opportunities.
				%p
					Ei mazim graeco dissentiunt duo, fierent invenire ei nec. Ei duis magna meliore nam, pro in quot probo sanctus. Magna fugit definiebas ut qui, ne summo tempor nonumes qui. Te modus zril tantas pri. An bonorum delectus per, veritus copiosae no nec.

	.row
		.sixteen.columns#mywork
			.container
				%h3 My Work
				.five.columns
					%a{href: "http://www.chez-del.com/", target: "_blank"}
						%img{src: asset_path("chezdel.jpg")}
						%p Chez-Del Home Furnishings & Interior Design
				.five.columns
					%a{href: "http://www.lonestarclash.com/", target: "_blank"}
						%img{src: asset_path("lonestarclash.jpg")}
						%p Lone Star Clash
				.five.columns
					%a{href: "http://www.dancestudioofbraintree.com/", target: "_blank"}
						%img{src: asset_path("dancestudio.jpg")}
						%p Dance Studio of Braintree
				.clearfix
			.container
				.five.columns
					%a{href: "http://www.elampi.com/", target: "_blank"}
						%img{src: asset_path("elampi.jpg")}
						%p Elam Private Detective
				.five.columns
					%a{href: "http://www.bandaladds.com/", target: "_blank"}
						%img{src: asset_path("bandala.jpg")}
						%p Jose L. Bandala D.D.S.
				.five.columns
					%a{href: "http://www.valpakofboston.com/", target: "_blank"}
						%img{src: asset_path("valpak.jpg")}
						%p Valpak of Boston
				.clearfix
	.row
		.sixteen.columns
			.container
				#contact
					%img{src: asset_path("headshot.jpg")}
					%p Contact Andrew Farrar
					%a{href: "mailto:contact@andrew-farrar.com"}
						%p contact@andrew-farrar.com
				.clearfix

%section.footer
	.row
		.centered.six.columns
			.container
				%p= "Copyright " + Time.now.strftime("%Y")