@import compass
@import global.css.sass

//
// header
//
.nav 
	@include content-gradient
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 9
	ul 
		float: right
		margin-bottom: 0
		text-align: right
		width: 75%
		li 
			color: #fff
			display: inline-block
			text-align: -webkit-match-parent
			margin-bottom: 2px
			a 
				font-size: 1.2em
				line-height: 3em
				padding: 15px
				vertical-align: super
				&:hover 
					background: $green
					color: #fff
	.title 
		font-family: 'Pt Sans', sans-serif
		font-size: 2.3em
		display: inline-block
		color: #fff
		img 
			height: 40px
			margin-top: 10px

.hero 
	padding: 100px 0 40px 0
	text-align: center
	.container 
		display: table
		height: 400px
		width: 100%
	h1
		font-size: 4rem
		margin-bottom: 20px
		line-height: 4rem
	h2
		font-size: 3rem
		line-height: 3rem
		margin-bottom: 40px
	span
		color: $red
	.cta a
		background: rgba(#000, 0.5)
		border: 5px solid #fff
		border-radius: 50px
		font-size: 2em
		padding: 10px 15px
		padding: 12px 15px 10px 15px
		&:hover
			background: rgba($green, 0.5)
			border: 5px solid #f1f1f1
			color: #fff
	.hero-wrapper
		display: table-cell
		vertical-align: middle

//
// content
//
.content 
	h3  
		color: #fff
	
	.row
		@include content-gradient 
		background: rgba(#000, 0.7)
		padding: 15px

#mywork 
	.five.columns
		margin-left: 3%
	a > p
		text-align: center
	img
		display: block
		margin: 10px auto
		width: 90%

#contact
	text-align: center
	.caption
		text-align: center
	img
		-webkit-border-radius: 100%
		-moz-border-radius: 100%
		border-radius: 100%
		width: 20%

.footer
	@include content-gradient
	margin-top: 20px
	text-align: center
	width: 100%
	p
		margin: 0 0
	
//
// media queries
//
@media only screen and (max-width: 767px)
	body:before 
		display: none
	.nav
		position: relative
		ul li a
			font-size: 1em
			line-height: 3.6em
			padding: 15px 0
			width: 20%
	.hero
		padding: 40px 0
		.container
			height: 300px
			width: auto
